/*HEADER*/
header {
    background-color: white;
    box-shadow: 0px 8px 4px -1px rgba(0, 0, 0, 0.49); 
    grid-area: "header";
}
.navbar-brand {
      display: flex;
      align-items: center; 
    }
.nav-item {
      margin: 0.5rem; 
    }
.nav-link {
        color: #13213d;
        text-align: center;
 }
.nav-link:hover {
    border-radius:5rem;
    background-color:#213664 ;
    transform: scale(1, 1);
    transition: all 1s;
    font-style: initial;
    color: #ffffff !important;
}
#inicioButton {
    color: #fca311;
}
/*Body*/
body{
    background-color: #ffffff;
}
main{
    grid-area: "main";
}
.grilla {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:auto 1fr auto;
    grid-template-areas:"header"
                        "main"
                        "footer";}
                        
/*Body Index*/
.button a{
    text-decoration: none;
    color: black;
}
.button a:hover{
    text-decoration: none;
    color: rgb(247, 245, 245);
}
.tarjetaHrz{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin: 0.5rem 3rem;
    justify-content: center;
    gap: 1rem;
}
.imagenTarjetaHrz{
    margin: 1rem; 
    height:100%;
    width: 60%; 
    filter: brightness(100%);

}
.button{
    border-radius: 5rem;
    display: inline-block;
    margin: 1.5rem 1rem;
    background-color: #fca311;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
}
.button:hover{
    background-color: #13213d;
    transform: scale(1,1);
    transition: all 1s;
    font-style:initial;
    color: white;
    border: #13213d 1px solid ;
}
.tajetasVer{
    display: flex;
    align-items: center;
    margin: 2rem 4rem;
    justify-content: center;
    gap: 2rem;
    color: #ffffff;
    text-align: center;
}
.tarjetasVerInv{
    border-radius: 2rem;
    background-color: #102754;
    margin: 1rem 0rem;
    gap: 1rem;  
}
#tviExt{
   background-color:#213664 ; 
}



/*PANTALLAS XS SM MD NOSOTRAS*/
@media only screen and ( max-width:935px){
    .tarjetaHrz{
        display: inline-block;
        display: flex;
        margin: 2rem 0.45rem;
        flex-direction: column;
        text-align: center;
    }
    .imagenTarjetaHrz{
        height: 100%;
        width: 100%;
    }.tajetasVer{
        display: inline-block;
        display: flex;
        margin: 2rem 0.45rem;
        flex-direction: column;
        text-align: center;
    }

}
/*Información*/
.info_div h2 {
    text-align: center;
}
.info_div p {
    text-align: center;
}
.divgeneralinf{
    background-color: #fca311;
    color: #102754;
    border-radius: 0.5rem;
    margin: 7% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center; 
    padding: 0em;
}
.linksdata{
    text-align: center;
}
.fotoinf{
    width: 10%;
    margin:4% 4%;
}
.info_div{
    margin:2rem 4rem;

}
@media only screen and (max-width: 790px){
    .fotoinf{
        width: 35%;
    }
}
@media only screen and (max-width: 450px){
    .fotoinf{
        width: 50%;
    }
}
/*Nosotros*/
.h2_nos {
    font-size: 400%;
    background-color: #fca311;
    font-weight: bolder;
    font-style: normal;
    padding: 1rem;
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: center; 
}
.main_infons {
    display: flex;
    align-items: center;
    margin: 4rem 2rem;
    justify-content: center;
    gap: 1rem;
    box-shadow: 2px 8px 4px 2px rgba(0, 0, 0, 0.49); 
}
.h2_div_inf {
      margin: 1.4rem 1rem;
      padding: 0rem 1rem; 
    }
.parrafo_nos {
      margin: 0rem 1rem;
      margin-bottom: 1rem;
      padding: 0rem 1rem;
      font-size: larger; 
    }
#filo {
    flex-direction: row-reverse; 
}
  
.socios_img {
    display: flex;
    justify-content: space-around; 
}
.integrantes {
      width: 25%;
      margin: 2%;
    }
.integrantes:hover {
        filter: brightness(100%);
        transition: all 1s; 
    }
  
/*PANTALLAS XS SM MD NOSOTRAS*/
  @media only screen and (max-width: 990px) {
    .main_nos {
        margin: 0rem;
        padding: 0px; 
    }
    .h2_nos {
        font-size: 200%; 
    }
    .main_infons {
        display: inline-block;
        display: flex;
        margin: 2rem 0.45rem;
        flex-direction: column;
        text-align: center; 
    }
    #filo {
        display: inline-block;
        flex-direction: column;
        text-align: center; }
    .socios_img {
        display: flex;
        display: block;
        text-align: center; 
    }
    .integrantes {
        width: 20%;
        margin: 5%; }
    }


/*Calculadora*/
.botones{
    display: flex;
    justify-content: center;
}
.specific{
    background-color: #fca311;
    border-radius: 0.5rem;
}
.buttons{
    margin: 1rem;
}
.importe{
    color: #fca311;
    text-align: center;
}
.section {
margin: 4rem 3rem;
display: flex;
justify-content: space-around;
align-items: center;
justify-items: center; 
}
.calculo {
    background-color: #213664;
    padding: 5%;
    border-radius: 2rem;
}
.form-control {
    width: 10%;
}

/*Footer*/
footer{
    grid-area: "footer";
}
.footer_index{
    grid-template-areas:"footer";
    display: flex;
    justify-content:space-around;
    padding: 1rem 2rem;
    background-color:#fca311;
}
.footer_logo{
    display: flex;
    align-items:center;
}
.footer_imagen{
    width: 70px;
}
.copyright_cont{
            margin: 0rem 1rem
    }
.contenedores_footer_logoredes{
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 5rem; 
}
.a{
    text-decoration: none;
    color: black;
}
 .logo_redes_footer{
            width:25px ;
        }
@media only screen and ( max-width:460px){
    .footer_index{
        flex-direction: column;
    }
    .footer_imagen{
        margin: 0.5rem 0rem;
    }
    .footer_logo{
        display: inline;
    }
    .copyright_cont{
        margin: 0.5rem 0rem;
    }        
    .contenedores_footer_logoredes{
        padding: 0.1rem;
                    }
            }           